
body{
    margin: 0;
    padding: 10px;
    padding-right: 20px;
    min-width: 400px;
}

input {
    border: solid 1px #055087;
    width: 100%;
    box-sizing: border-box;  
    padding: 10px;
    height: 42px;
    margin-bottom: 5px;
     
}

button {
    color: white;
    background-color: #055087;
    padding: 12px 20px;
    margin-top: 5px;
    border: none;
    font-weight: bold;
}